@import url('https://fonts.cdnfonts.com/css/nasalization-2');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

* {
  font-family: "Barlow", sans-serif;
}

body{
  height: auto;
  width: auto;
}

/* Navbar: https://codepen.io/aravindvakil/pen/KGOObw/*/

.custom_nav{
  background-color: #3c3c3b;
}

.fa-twitter{
  color: #fff;
}

.fa-linkedin-in{
  color: #fff;
}


.fa-twitter:hover{
  color: #c5c5c5;
}

.fa-linkedin-in:hover{
  color: #c5c5c5;
}

/* NAVIGATION */

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  /* padding: 15px; */
  text-decoration: none;
  color: rgba(255,255,255,0.75);
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 .4em;
  font-size: .85em;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: ghostwhite;
  /* font-weight: 700; */
}


/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: ghostwhite;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}


/* ABOUT iberamber/*/
.about{
  padding: 60px 0;
}

.about .container .heading .text-justify {
  padding-bottom: 15px;
}

@media only screen and (max-width: 480px) {
  .about .container .heading .text-justify {
    padding: 2px;
    margin: 2px;
  }
}

.about .heading p {
  font-size: 35px;
  font-weight: 400;
  line-height: 1;
  color: #000000;
  margin: auto;
  padding: 0;
}

@media only screen and (max-width: 770px) {
  .about .heading p {
    font-size: 28px;
  }
}


@media only screen and (max-width: 1024px) {
  .about .heading p {
    font-size: 26px;
  }
}

/* Objectives*/

#objectives-text{
  padding-top: 60px
}

#container-obj {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
  padding-top: 0px;
  margin-bottom: 20px;
}

#container-obj .list .num {
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.25s;
}
#container-obj .list .num:nth-child(0):before {
  content: '0';
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
#container-obj .list .num:nth-child(1):before {
  content: '1';
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
#container-obj .list .num:nth-child(2):before {
  content: '2';
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
#container-obj .list .num:nth-child(3):before {
  content: '3';
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
#container-obj .list .num:nth-child(4):before {
  content: '4';
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
#container-obj .list .num:nth-child(5):before {
  content: '5';
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
#container-obj .list .num:nth-child(6):before {
  content: '6';
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
#container-obj .list .num:nth-child(7):before {
  content: '7';
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
#container-obj .list .num:nth-child(8):before {
  content: '8';
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
#container-obj .list .num:nth-child(9):before {
  content: '9';
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
#container-obj .list .num h3 {
  position: relative;
  left: -1.5rem;
  color: #3d3d3d;
  font-size: 1.85em;
  transition: 0.25s;
}
#container-obj .list .num:hover {
  background-color: #fafafa;
  cursor: pointer;
}
#container-obj .list .num:hover:before {
  opacity: 0.2;
}
#container-obj .list .num:hover h3 {
  left: 1rem;
}

/* How BIS*/

.sec-title{
position:relative;
z-index: 1;
margin-bottom:60px;
}

.sec-title .title{
position: relative;
display: block;
font-size: 18px;
line-height: 24px;
color: #ff2222;
font-weight: 500;
margin-bottom: 15px;
}

.sec-title h2{
position: relative;
display: block;
font-size:40px;
line-height: 1.28em;
color: #222222;
font-weight: 600;
padding-bottom:18px;
}

.sec-title h2:before{
position:absolute;
content:'';
left:0px;
bottom:0px;
width:50px;
height:3px;
background-color:#d1d2d6;
}

.sec-title .text{
position: relative;
font-size: 16px;
line-height: 26px;
color: #848484;
font-weight: 400;
margin-top: 35px;
}

.sec-title.light h2{
color: #ffffff;
}

.sec-title.text-center h2:before{
left:50%;
margin-left: -25px;
}

.list-style-one{
position:relative;
}

.list-style-one li{
position:relative;
font-size:16px;
line-height:26px;
color: #222222;
font-weight:400;
padding-left:35px;
margin-bottom: 12px;
}

.list-style-one li:before {
content: "\f058";
position: absolute;
left: 0;
top: 0px;
display: block;
font-size: 18px;
padding: 0px;
color: #ff2222;
font-weight: 600;
-moz-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
font-style: normal;
font-variant: normal;
text-rendering: auto;
line-height: 1.6;
font-family: "Font Awesome 5 Free";
}

.list-style-one li a:hover{
color: #44bce2;
}

.btn-style-one{
position: relative;
display: inline-block;
font-size: 17px;
line-height: 30px;
color: #ffffff;
padding: 10px 30px;
font-weight: 600;
overflow: hidden;
letter-spacing: 0.02em;
background-color: #ff2222;
}

.btn-style-one:hover{
background-color: #001e57;
color: #ffffff;
}
.how-section{
position: relative;
padding: 120px 0 70px;
}

.how-section .sec-title{
margin-bottom: 45px;
}

.how-section .content-column{
position: relative;
margin-bottom: 50px;
}

.how-section .content-column .inner-column{
position: relative;
padding-left: 30px;
}

.how-section .text-justify{
justify-content: center;
margin-bottom: 20px;
font-size: 2em;
line-height: 1;
color: #848484;
font-weight: 400;
}

.how-section .list-style-one{
margin-bottom: 45px;
}

.how-section .btn-box{
position: relative;
}

.how-section .btn-box a{
padding: 15px 50px;
}

.how-section .image-column{
position: relative;
}

.how-section .image-column .text-layer{
position: absolute;
right: -110px;
top: 50%;
font-size: 325px;
line-height: 1em;
color: #ffffff;
margin-top: -175px;
font-weight: 500;
}

.how-section .image-column .inner-column{
position: relative;
padding-left: 120px;
padding-bottom: 125px;
}

.how-section .image-column .inner-column:before{
position: absolute;
left: -75px;
top: 65px;
height: 520px;
width: 520px;
background-image:url(https://i.ibb.co/fxJ1jtC/about-circle-1.png);
content: "";
}

.how-section .image-column .image-1{
position: relative;
}

.how-section .image-column .image-2{
position: absolute;
left: 0;
bottom: 0;
}

.how-section .image-column .image-2 img,
.how-section .image-column .image-1 img{
box-shadow: 0 30px 50px rgba(8,13,62,.15);
}

.how-section .image-column .video-link{
position: absolute;
left: 70px;
top: 170px;
}

.how-section .image-column .video-link .link{
position: relative;
display: block;
font-size: 22px;
color: #191e34;
font-weight: 400;
text-align: center;
height: 100px;
width: 100px;
line-height: 100px;
background-color: #ffffff;
border-radius: 50%;
box-shadow: 0 30px 50px rgba(8,13,62,.15);
-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
}

.how-section .image-column .video-link .link:hover{
background-color: #191e34;
color: #fff
}


/* TEAM */

.expand-button {
  font-weight: bold;
  cursor: pointer;
  display: block;
  width: 15%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.expand-button:hover, .expand-button:active, .expand-button:focus {
  background-color: #3c3c3b;
  color: white;
}
.special-text {
  
  line-height: 1;
  font-size: 2em;
  padding-right: 150px;
  padding-left: 150px;
  position: relative;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 1s ease;
}
.special-text.-expanded {
  max-height: 100vh;
}
.special-text:not(.-expanded)::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}



.container-team{
  font-family: "Roboto Mono", sans-serif;

}

#name-team {
  font-size: 1.2rem;
  color: #000000;
}

#role-team{
  color: #3c3c3b;
  font-size: 1rem;
}

.card-team {
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  border: 1;
  border-radius: 1rem;
}

.img-team-member img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin-top: 20px;
  padding: 1px;
  transition: transform .5s;
  filter: grayscale(100%);
}

.img-team-member:hover img {
  filter: grayscale(0);
  transform: scale(1.05);
}

.box-team {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-orcid {
  font-size: 1.5rem;
  color: darkgray;
  transition: transform .5s;
}

.fa-orcid:hover {
  color: black;
  transform: scale(1.1);
}

@media only screen and (min-width: 1200px) {
  .img-team-member img {
      width: 200px;
      height: 200px;
  }
}

@media only screen and (max-width: 1000px) {
  .img-team-member img {
      width: 120px;
      height: 120px;
  }
}


@media only screen and (min-width: 1200px) {
#name-team {
      font-size: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .card-team {
        width: 70%;
        height: 80%;
        margin: auto;
    }
  }

  @media only screen and (max-width: 770px) {
    .special-text{
      font-size: 25px;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  
  
  @media only screen and (max-width: 1024px) {
    .special-text {
      font-size: 22px;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  
  /* Project*/

  #project {
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 1em;
  }

  .expand-button-2 {
    font-weight: bold;
    cursor: pointer;
    display: block;
    width: 15%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .expand-button-2:hover, .expand-button-2:active, .expand-button-2:focus {
    background-color: #3c3c3b;
    color: white;
  }
  .special-text-2 {
    
    line-height: 1;
    font-size: 2em;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    max-height: 100px;
    overflow: hidden;
    transition: max-height 1s ease;
  }
  .special-text-2.-expanded {
    max-height: 450vh;
  }
  .special-text-2:not(.-expanded)::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }

  
  /* Funding  /*/
 
  #logo-grid {
    align-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    max-width: 750px;
  }
  .partner-logo {
    box-sizing: border-box;
  }
  .partner-logo img {
    display: block;
    max-width: 187px;
    width: 100%;
  }
  .partner-logo img:hover {
    background-color: #eeeeee;
  }
  .col-2 img {
    max-width: 375px;
  }


  /* Contact  /*/

.container-cont{
  background: #f9f9f9;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:15px;
}

.contact-info{
  display: flex;
  height: fit-content;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 0px;
}

.card-cont{
  background: #F9F9F9 ;
  padding: 0 20px;
  margin: 0 10px;
  width: 280px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.card-icon{
  font-size: 28px;
  background: #3c3c3b;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card-cont:hover .card-icon{
  background: none;
  color: #000000;
  transform: scale(1.6);
}

.card-cont p{
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
  color: #3c3c3b;
}

.card-cont:hover p{
  max-height: 40px;
  opacity: 1;
}


@media screen and (max-width:800px) {
  .contact-info{
    flex-direction: column;
  }
  .card-cont{
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}

/
 /* FOOTER HOVER ICONS/*/

 .fa-creative-commons{color:#3c3c3b!important;}
 .fa-creative-commons:hover{color:#FFFFFF!important;}
 .fa-creative-commons-by{color:#3c3c3b!important;}
 .fa-creative-commons-by:hover{color:#FFFFFF!important;}
 .fa-creative-commons-nc{color:#3c3c3b!important;}
 .fa-creative-commons-nc:hover{color:#FFFFFF!important;}
 .fa-creative-commons-sa{color:#3c3c3b!important;}
 .fa-creative-commons-sa:hover{color:#FFFFFF!important;}

 #social-icons-foot:focus{
  box-shadow:none;
  }

  .modal-footer .btn-link:focus{
    box-shadow:none;
    }

    .modal-footer .btn-link:hover{
      color:none;
      }

    /* Arrow Back to top/*/

    .go-top {
      position: fixed;
      bottom: 5.5em;
      right: 1.5em;
      text-decoration: none;
      color: white;
      background-color: rgba(0, 0, 0, 0.3);
      font-size: 12px;
      padding: 1em;
      display: none;
      padding-bottom: 10px;
    }
    
    .go-top:hover {
      background-color: rgba(0, 0, 0, 0.6);
      color: #ffffff;
      text-decoration: none;
    }
   